<footer class="footer">
  <ul>
    <li><i class="far fa-copyright"></i>Utsav Gupta</li>
    <li><a href="https://www.linkedin.com/in/harshita-kumawat-596485253/"><i class="fab fa-linkedin fa-lg"></i></a></li>
    <li><a href="https://www.instagram.com/harshitakumawat_0424/"><i class="fab fa-instagram fa-lg"></i></a></li>
    <li><a href="https://github.com/harshita-kumawat"><i class="fab fa-github fa-lg"></i></a></li>
  </ul>
</footer>
</body>

</html>
